<h1>Home Page</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
        </div>
        <div class="input">
            <label for="url">URL</label>
            <input type="text" id="url" name="url">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/organizations">LOAD DATA</a>
    <div>
        {{# each clubs }}
            <article class="club">
                <div>Name: {{ this.title }}</div>
                <div>Description: {{ this.content }}</div>
                <div>URL: {{ this.numMembers }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
        <div class="input">
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
        </div>
        <div class="input">
            <label for="url">URL</label>
            <input type="text" id="url" name="url">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section>
<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>